    .T1{color:red;background-color: black;text-align:center}
    .doran{color: darkkhaki;background-color: black;text-align:center;}
    .oner{color: darkkhaki;background-color:black;text-align:center}
    .faker{color: darkkhaki;background-color:black;text-align:center}
    .gumayusi{color: darkkhaki;background-color:black;text-align:center}
    .keria{color: darkkhaki;background-color:black;text-align:center}
