    .T1{color:darkkhaki;background-color: red;text-align:center}
    .doran{color: black;background-color:red;text-align:center;}
    .oner{color: black;background-color:red;text-align:center}
    .faker{color: black;background-color:red;text-align:center}
    .gumayusi{color: black;background-color:red;text-align:center}
    .keria{color: black;background-color:red;text-align:center}
